In [1]:
import pandas as pd

SERIES

In [3]:
a = pd.Series([4,7,3])

In [4]:
a.values

array([4, 7, 3])

In [5]:
a.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
a

0    4
1    7
2    3
dtype: int64

In [7]:
list(a.index)

[0, 1, 2]

In [14]:
x = pd.Series([4,7,3], index = ['a','b','c'])

In [10]:
sdata = {'a':10,'b':30, 'c':12}

In [11]:
s =pd.Series(sdata)

In [12]:
s

a    10
b    30
c    12
dtype: int64

#DATAFRAME -> tabular data , recorded in rows and columns

In [15]:
df = pd.DataFrame

In [16]:
df

pandas.core.frame.DataFrame

In [17]:
data = [1,2,3,4,5]

In [18]:
df = pd.DataFrame(data)

In [19]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [20]:
#List
data =[['Alex',10],['Bob',13],['cevin',33]]

In [22]:
df= pd.DataFrame(data)

In [23]:
df

       0   1
0   Alex  10
1    Bob  13
2  cevin  33

In [24]:
df =  pd.DataFrame(data, columns =['Name', "Age"])

In [25]:
df

    Name  Age
0   Alex   10
1    Bob   13
2  cevin   33

In [27]:
data = {'Name':['Alex', 'Bob', 'Clarke'],'Age':[15,17,19]}
pd.DataFrame(data, index =['a','b','c'])
print(df)

    Name  Age
0   Alex   10
1    Bob   13
2  cevin   33

In [29]:
pd.DataFrame(data, index =['a','b','c'])
print(df)

    Name  Age
0   Alex   10
1    Bob   13
2  cevin   33

addition of rows

In [ ]:
pd.DataFrame([[1,2],[3,4],columns]